In [34]:
#Print numbers from 1 to 5 using a while loop.


n = 6
i = 1
while i<n:
    print(i)
    i=i+1

1
2
3
4
5

In [36]:
#Calculate the sum of numbers from 1 to 10 using a while loop.


i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print("sum=",sum)

sum= 55

In [40]:
#Calculate the factorial of a number using a for loop.

num = int(input("enter the number: "))
f=1
for i in range (1,num+1):
    f=f*i
print("factorial =",f)

enter the number:  4

factorial = 24

In [41]:
num = int(input("enter the number: "))
f=1
for i in range (1,num+1):
    f=f*i
print("factorial =",f)

enter the number:  5

factorial = 120

In [44]:
#Count the number of vowels in a string using a for loop.

string = input("enter string:")
string = string.casefold()
vowels = "aeiou"
vowels_str = {}.fromkeys(vowels,0)

for char in string:
    if char in vowels:vowels_str[char] +=1
    
print("vowels  in the input string")
for i in vowels_str:
    print(i, ":", vowels_str[i])

enter string: learning new skills

vowels  in the input string
a : 1
e : 2
i : 2
o : 0
u : 0

In [48]:
#Print a pattern using nested loops.

for i in range(1,6):
    for j in range(1,i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [51]:
#Generate a multiplication table using nested loops.

n = int(input("enter the number:"))
for i in range(1,21):
    print(n,"*",i,"=",n*i)

enter the number: 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120
12 * 11 = 132
12 * 12 = 144
12 * 13 = 156
12 * 14 = 168
12 * 15 = 180
12 * 16 = 192
12 * 17 = 204
12 * 18 = 216
12 * 19 = 228
12 * 20 = 240